{% extends 'admin-master.html' %}
{% load static %}
{% block content %}
<div>
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col"> id</th>
             
              <th scope="col">movie name</th>
              <th scope="col">booked date and time </th>
              <th scope="col">selected seats </th>
              <th scope="col">totel amount </th>

              
            </tr>
          </thead>
          <tbody>
            {% if data %}
             {% for d in data %}
            <tr>
              <td >{{d.id}}</td>
             
              <td>{{d.Movie_name}}</td>
              <td>{{d.Booking_date}}  , {{d.Booking_time}}</td>
              <td>{{d.Selected_seats}}</td>
              <td>{{d.Totel_amount}}</td>
           
            </tr>
            {% endfor %}
            {% endif %}
            
          </tbody>
    </table>
</div>
{% endblock %}