{% extends 'admin-master.html' %}
{% load static %}
{% block content %}
<div>
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">name</th>
              <th scope="col">email</th>
              
            </tr>
          </thead>
          <tbody>
            {% if data %}
             {% for d in data %}
            <tr>
              <th scope="row">{{d.id}}</th>
              <td>{{d.name}}</td>
              <td>{{d.email}}</td>
           
            </tr>
            {% endfor %}
            {% endif %}
            
          </tbody>
    </table>

</div>
{% endblock %}