#search-box{
    width: 400px;
}

.carousel-inner img{
    height: 500px; 
   
  }

  .row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  /* background-color: #f1f1f1; */
}
.card-text{
  font-weight: bold;
}
.card-img{
  height: 250px;
}

#cover-caption{
  font-size: 30px;
  color:white;
  font-weight: 700;
  font-style: oblique;
  
}
#card-head{
  font-size: 30px;
  color:black;
  font-weight: 700;
  font-style: oblique;
  
}

.hover-card {
  transition: transform 0.2s ease;
}
.hover-card:hover {
  transform: scale(1.1);
}
.r1::-webkit-scrollbar {
  display: none;
}
.r1{
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
  
}
.card-scroll {
  /*float: left;*/
  /* max-width: 33.333%; */
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  /* flex-basis: 33.333%; */
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 50px;
  
}
.whats-new{
  border-radius: 20px;
  box-shadow: 5px 5px 10px gray;
}
.card-h1{
font-size: 20px;
font-weight: 600;

}
a{
  text-decoration: none;
}
a:hover{
  color: green;
}
/* @media only screen
  and (min-width: 600px) {
    #gallery {
      display: block;
    }
} */


